@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #e5e5e5;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif
}

.page-content {
    width: 414px;
    overflow: hidden;
}

/*INICIO DO TOPO */
header {
    background-color: #CF2B2B;
    height: 92px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 415px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.topo {
    height: 66px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding-left: 21px;
    box-sizing: border-box;
}

.topo h1 {
    font-family: 'Righteous', cursive;
    color: #ffffff;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 5px;
}
/* FIM DO TOPO */

/*INICIO DO MAIN-CONTENT*/

.main-content {
    margin-top: 123px;
    margin-bottom: 108px;
}

.item{
    height: 260px;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.item h2{
    font-family: 'Righteous', cursive;
    color: #333333;
    font-size: 26px;
    font-weight: 400;
    margin-left: 19px;
    margin-bottom: 17px;
}

.cardapio1 {
    display: flex;
    height: 216px;
    overflow-x: scroll;
    padding-left: 19px;
}

.cardapio2 {
    display: flex;
    height: 216px;
    overflow-x: scroll;
    padding-left: 19px;
}

.cardapio3 {
    display: flex;
    height: 216px;
    overflow-x: scroll;
    padding-left: 19px;
}

.opcoes{
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 16px;
    box-sizing: border-box;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 13px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.opcoes img {
    width: 144px;
    height: 87px;
    margin-top: 18px;
    border-radius: 4px;
}

.opcoes p{
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
}

.opcoes .pedido {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.opcoes h4 {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    margin-right: 4px;
}

.preco .valor {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.preco{
    display: flex;
}

ion-icon {
    display: none;
}

.parte-baixa {
    position: fixed;
    background-color: #ffffff;
    bottom: 0;
    width: 414px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao{
    background-color: #cbcbcb;
    border: none;
    border-radius: 50px;
    height: 60px;
    width: 364px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffffff;
}
/* FIM DO MAIN-CONTENT */

/*INICIO DO CHECK VERDIN*/

.selecionado {
    border: 4px solid rgb(5, 190, 5);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9px;
}

.selecionado img {
    margin-top: 14px;
}

.selecionado ion-icon {
    display: initial;
    color: rgb(5, 190, 5);
    position: absolute;
    bottom: 10px;
    right: 13px;
    font-size: 16px;
}

.botao-verdin {
    background-color: rgb(5, 190, 5);
    border: none;
    border-radius: 50px;
    height: 60px;
    width: 364px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
/* FIM DO CHECK VERDIN*/

/* POP-UP*/

.aparecer {
    display: flex;
}

.sumir {
    display: none;
}

.pop-up {
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 33;
    top: 0;
    width: 415px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.568);
}

.parte-verde{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 21px;
    background-color: #3bc060;
    width: 377px;
    height: 353px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.parte-verde a {
    font-family: 'Roboto';
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
}

.parte-verde h6 {
    font-family: 'Roboto';
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
}

.tudocerto p{
    color: #ffffff;
    height: 52px;
    width: 333px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto';
}

.tudocerto a{
    height: 52px;
    width: 333px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #3bc060;
    border-radius: 50px;
    cursor: pointer;
}

.i1, .i2, .i3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 27px;
    color: #ffffff;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Roboto';
}

.valorpagar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Roboto';
}